body {
    background-color: rgba(181, 214, 218, 0.10);
}
h1 {
    font-family: 'Squada One', cursive;
    text-align: center;
    font-size: 80px;
    color: #15202a;
}
.close-bracket {
    text-align: left;
}

h2 {
    font-family: 'Squada One', cursive;
    text-align: left;
    margin-left: 9%;
    font-size: 45px;
    color: #2b444e;
}

h3 {
    font-family: 'Squada One', cursive;
    text-align: center;
    font-size: 30px;
    color: #2b444e;
    margin: 15px 0;
}
h4 {
    font-family: 'Hepta Slab', serif;
    text-align: center;
    font-size: 12px;
    color: #2b444e;
}
h4 a {
    text-decoration: none;
    color: rgba(54, 80, 90, 0.75);
    font-size: 14px;
}
nav {
    position: fixed;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: rgba(120, 152, 156, 0.8);
    justify-content: space-around;
    border: 1px solid #2b444e;
    border-radius: 15px;
}
nav a {
    font-family: 'Squada One', cursive;
    font-size: 24px;
    margin: 0 20px;
    text-decoration: none;
    color: #2b444e;
}
nav a:hover {
    color: #15202a;
}
.content {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
section {
    min-width: 200px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(120, 152, 156, 0.77);
    padding: 0;
    margin: 0;
    border: 2px solid #2b444e;
    border-radius: 20px;
}
section:hover {
    color: #2b444e;
}
section img {
    height: 120px;
    width: 180px;
    padding: 10px;
    margin: 5px;
}
section p {
    height: 40px;
    width: 180px;
    font-family: 'Hepta Slab', serif;
    color: #15202a;
    font-size: 12px;
    margin-bottom: 5px;
}
footer {
    text-align: center;
    margin: 30px 0 0;
    padding: 15px 0;
    background-color: rgba(120, 152, 156, 0.8);
    color: #2b444e;
    justify-content: space-around;
    border: 1px solid #2b444e;
    border-radius: 15px;
}
footer a {
    font-size: 20px;
    font-family: 'Squada One', cursive;
    text-align: center;
    color: #2b444e;
    text-decoration: none;
    justify-content: space-around;
    padding: 0 20px 20px;
    margin: 0 20px 20px;
}
footer a:hover {
    color: #15202a;
}

p {
    padding: 5px 5px 20px;
    margin: 3px;
    font-family: 'Hepta Slab', serif;
    font-size: 16px;
    color: #15202a;
}
.photo-credit {
    background-color:#36505a;
    color:white;
    text-decoration:none;
    padding:4px 6px;
    font-family: Arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    line-height:1;
    display:inline-block;
    border-radius:3px;
    z-index: 1;
}
.photo-logo {
    height:10px;
    width:auto;
    position:relative;
    vertical-align:middle;
    top:-2px;
    fill: white;
}
body {
    margin: 0;
    padding: 0;
}
#welcome-section {
    height: 99vh;
}

@media (max-width: 480px){
    iframe {
        max-width: 400px;
    }
}
